<html>
  <head>
    {% if title %}
    <title>{{ title }} - Ian</title>
    {% else %}
    <title>Welcome to Ians site</title>
    {% endif %}
  </head>
  <body>
    <div>
      Ian:
      <a href="/index">Home</a>
      <a href="/login">Login</a>
    </div>
    <hr>
    {% with messsages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <hr>
    ©2019 Ian Stewart
  </body>
</html>
